/ SYNTAX TEST "source.slim"

/[ Comment Tests ]/////////////////////////////////////////////////////////////

/Comment
/ <- comment.block.slim comment.line.slash.slim punctuation.definition.comment.slim
/^^^^^^^^ comment.block.slim comment.line.slash.slim - punctuation.definition.comment.slim

/ Space comment
/ <- comment.block.slim comment.line.slash.slim punctuation.definition.comment.slim
/^^^^^^^^^^^^^^^ comment.block.slim comment.line.slash.slim - punctuation.definition.comment.slim

/ Nested Comment
  Comment
/ <- comment.block.slim - comment.line.slim
/^^^^^^^^^ comment.block.slim - comment.line.slim

// Comment
/ <- comment.block.slim comment.line.slash.slim punctuation.definition.comment.slim
/^ comment.block.slim comment.line.slash.slim - punctuation.definition.comment.slim
/ ^^^^^^^^^ comment.block.slim comment.line.slash.slim

/! HTML comment
/ <- comment.block.html.slim punctuation.definition.comment.slim
 / <- comment.block.html.slim punctuation.definition.comment.slim
/ ^^^^^^^^^^^^^^ comment.block.html.slim - punctuation

/[if IE] IE comment
/ <- comment.block.slim punctuation.definition.comment.slim
/^^^^^^^ comment.block.slim meta.brackets.slim
/       ^^^^^^^^^^^^ comment.block.slim - meta.brackets.slim
/^ punctuation.section.brackets.begin.slim
/      ^ punctuation.section.brackets.end.slim


/[ Verbatim Text Tests ]///////////////////////////////////////////////////////

| Verbatim <b>#{text}</b> without processing.
/ <- punctuation.section.verbatim.slim
/ ^^^^^^^^^^^^ text.html.embedded.slim
/          ^^^ meta.tag.inline.b.start.html
/             ^^^^^^^ source.ruby.embedded.slim
/             ^^ punctuation.section.interpolation.begin.slim
/               ^^^^ source.ruby.embedded.slim
/                   ^ punctuation.section.interpolation.end.slim
/                    ^^^^ meta.tag.inline.b.end.html
/                    ^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

|< Verbatim
/ <- punctuation.section.verbatim.slim
/^ punctuation.section.verbatim.slim
/  ^^^^^^^^ text.html.embedded.slim

|> Verbatim
/ <- punctuation.section.verbatim.slim
/^ punctuation.section.verbatim.slim
/  ^^^^^^^^ text.html.embedded.slim

|<> Verbatim
/ <- punctuation.section.verbatim.slim
/^^ punctuation.section.verbatim.slim
/   ^^^^^^^^ text.html.embedded.slim

|>< Verbatim
/ <- punctuation.section.verbatim.slim
/^^ punctuation.section.verbatim.slim
/   ^^^^^^^^ text.html.embedded.slim

| Verbatim
  <b>#{text}</b> without processing.
/ ^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim
/ ^^^ meta.tag.inline.b.start.html
/    ^^ punctuation.section.interpolation.begin.slim
/      ^^^^ source.ruby.embedded.slim
/          ^ punctuation.section.interpolation.end.slim
/           ^^^^ meta.tag.inline.b.end.html

p
  |
    Verbatim <p class="#{:class_name}">
/  ^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim
/            ^^^^^^^^^^ text.html.embedded.slim meta.tag.structure.p.start.html
/                     ^^^^^^^^^^^^^^^^ text.html.embedded.slim meta.tag.structure.p.start.html meta.attribute.class.html
/                                     ^ text.html.embedded.slim meta.tag.structure.p.start.html

' Verbatim <b>#{text}</b> without processing.
/ <- punctuation.section.verbatim.slim
/ ^^^^^^^^^^^^ text.html.embedded.slim
/          ^^^ meta.tag.inline.b.start.html
/             ^^^^^^^ source.ruby.embedded.slim
/             ^^ punctuation.section.interpolation.begin.slim
/               ^^^^ source.ruby.embedded.slim
/                   ^ punctuation.section.interpolation.end.slim
/                    ^^^^ meta.tag.inline.b.end.html
/                    ^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

' Verbatim
  <b>#{text}</b> without processing.
/ ^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim
/ ^^^ meta.tag.inline.b.start.html
/    ^^ punctuation.section.interpolation.begin.slim
/      ^^^^ source.ruby.embedded.slim
/          ^ punctuation.section.interpolation.end.slim
/           ^^^^ meta.tag.inline.b.end.html

p
  '
    Verbatim <p class="#{:class_name}">
/  ^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim
/            ^^^^^^^^^^ text.html.embedded.slim meta.tag.structure.p.start.html
/                     ^^^^^^^^^^^^^^^^ text.html.embedded.slim meta.tag.structure.p.start.html meta.attribute.class.html
/                                     ^ text.html.embedded.slim meta.tag.structure.p.start.html

|
  - if true
/^^^^^^^^^^^ text.html.embedded.slim - keyword
/^^^^^^^^^^^ text.html.embedded.slim - constant
/^^^^^^^^^^^ text.html.embedded.slim - punctuation

- if true
  | console.log("foo");
/ ^ punctuation.section.verbatim.slim
/   ^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim
- else
  | console.log("bar");
/ ^ punctuation.section.verbatim.slim
/   ^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

- array.each do
  | verbatim \#{a.name}
/ ^ punctuation.section.verbatim.slim
/   ^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim - source.ruby.embedded.slim

- articles.each do |a|
  | <tr><td>#{a.name}</td><td>#{a.description}</td></tr>
/ ^ punctuation.section.verbatim.slim
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim
/   ^^^^ meta.tag.structure.tr.start.html
/       ^^^^ meta.tag.structure.td.start.html
/           ^^^^^^^^^ source.ruby.embedded.slim
/                    ^^^^^ meta.tag.structure.td.end.html
/                         ^^^^ meta.tag.structure.td.start.html
/                             ^^^^^^^^^^^^^^^^ source.ruby.embedded.slim
/                                             ^^^^^ meta.tag.structure.td.end.html
/                                                  ^^^^^ meta.tag.structure.tr.end.html

div
  'Verbatim text with space after
    a inline text that's "quoted"
    <a href="#">HTML</a>
/   ^^^^^^^^^^^^ text.html.embedded.slim meta.tag.inline.a.start.html
    a href="slim" unhighlighted slim
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim - meta.tag.inline.a.start.html

div
  |
    div
/   ^ text.html.embedded.slim - meta.tag.slim
    if true
/   ^ text.html.embedded.slim - source.ruby


/! Incomplete HTML tags

| <incomplete
/ <- punctuation.section.verbatim.slim
/ ^^^^^^^^^^^^ text.html.embedded.slim
  > (terminate tag to clean up)

| <incomplete
    attr = "value"
/ <- text.html.embedded.slim meta.tag.other.incomplete.html
/^^^^^^^^^^^^^^^^^^ text.html.embedded.slim meta.tag.other.incomplete.html
  > (terminate tag to clean up)


/[ HTML ]///////////////////////////////////////////////////////////////////////

<html>
  head
    title Example
/   ^^^^^ meta.tag.slim entity.name.tag.slim
  <body
    class = "foo">
/   ^^^^^^^^^^^^^ text.html.embedded.slim meta.tag.structure.body.start.html meta.attribute.class.html
    - if articles.empty?
/   ^ meta.line.ruby.slim punctuation.section.embedded.slim
/     ^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim
    - else
      table
        - articles.each do |a|
          <tr><td>#{a.name}</td><td>#{a.description}</td></tr>
/         ^^^^ meta.tag.structure.tr.start.html
/             ^^^^ meta.tag.structure.td.start.html
/                 ^^^^^^^^^ source.ruby.embedded.slim
/                          ^^^^^ meta.tag.structure.td.end.html
/                               ^^^^ meta.tag.structure.td.start.html
/                                   ^^^^^^^^^^^^^^^^ source.ruby.embedded.slim
/                                                   ^^^^^ meta.tag.structure.td.end.html
/                                                        ^^^^^ meta.tag.structure.tr.end.html
  </body>
/ ^^^^^^^ text.html.embedded.slim meta.tag.structure.body.end.html
</html>
/ <- text.html.embedded.slim meta.tag.structure.html.end.html
/^^^^^^ text.html.embedded.slim meta.tag.structure.html.end.html

.inline Text <normal html_underscore="value" normal="attribute" html-dash="value"><and this="this"> Text</normal>
/            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

<normal class="html-tag" underscore_attribute="value" normal-dash-attribute="value">
/ <- punctuation.definition.tag.begin.html
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim


/[ Doctype Tests ]/////////////////////////////////////////////////////////////

doctype xml
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^ meta.tag.sgml.doctype.slim

doctype xml ISO-8859-1
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^^^^^^^^^^^^ meta.tag.sgml.doctype.slim

/  <!DOCTYPE html>
doctype html
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^^ meta.tag.sgml.doctype.slim

/  <!DOCTYPE html>
doctype 5
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^ meta.tag.sgml.doctype.slim

/ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
doctype 1.1
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^ meta.tag.sgml.doctype.slim

/ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
doctype strict
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^^^^ meta.tag.sgml.doctype.slim

/ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
doctype frameset
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^^^^^^ meta.tag.sgml.doctype.slim

/ <!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
    "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
doctype mobile
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^^^^ meta.tag.sgml.doctype.slim

/ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
doctype basic
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^^^ meta.tag.sgml.doctype.slim

/ <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
doctype transitional
/ <- meta.tag.sgml.doctype.slim
/^^^^^^^^^^^^^^^^^^^ meta.tag.sgml.doctype.slim


/[ Tag Tests ]/////////////////////////////////////////////////////////////////

/ Root level
section
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^ meta.tag.slim entity.name.tag.slim

/ Element with integer
h2
/ <- meta.tag.slim entity.name.tag.slim
/^ meta.tag.slim entity.name.tag.slim

section
  #nested
    .selectors
/   ^^^^^^^^^^ meta.tag.slim
/   ^ punctuation.definition.attribute.class.slim
/    ^^^^^^^^^ entity.other.attribute-name.class.html


/[ Tag Text Tests ]////////////////////////////////////////////////////////////

tag with text
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim
/   ^^^^^^^^^ text.html.embedded.slim

tag
  with text
/ ^^^^ meta.tag.slim - text.html.embedded.slim
/      ^^^^ text.html.embedded.slim

tag\
  ' text
/ ^^^^^^ text.html.embedded.slim

tag\
  | text
/ ^^^^^^ text.html.embedded.slim

tag\
  - text
/ ^^^^^ text.html.embedded.slim

  // TODO: How to do these? They need to retain knowledge about text scope and indentation among lines
  // which is probably impossible with the current grammar...
  tag with
    text
  / <- text.html.embedded.slim
  /^^^^^ text.html.embedded.slim

  tag,
    ' text
  / <- text.html.embedded.slim - meta.tag.slim
  /^^^^^^^^ text.html.embedded.slim - punctuation

  tag,
    = text
  / <- text.html.embedded.slim - meta.tag.slim
  /^^^^^^^^ text.html.embedded.slim - punctuation

  tag,
    | text
  / <- text.html.embedded.slim - meta.tag.slim
  /^^^^^^^^ text.html.embedded.slim - punctuation

  tag,
    - text
  / <- text.html.embedded.slim - meta.tag.slim
  /^^^^^^^^ text.html.embedded.slim - punctuation

  tag,
    = text
  / <- text.html.embedded.slim - meta.tag.slim
  /^^^^^^^^ text.html.embedded.slim - punctuation

div #{variable if amount > 0} Extra text
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim
/   ^^^^^^^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim
/                            ^^^^^^^^^^^^ text.html.embedded.slim

div Extra #{variable if amount > 0} text
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim
/   ^^^^^^ text.html.embedded.slim
/         ^^^^^^^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim
/                                  ^^^^^^ text.html.embedded.slim

div Extra text #{variable if amount > 0}
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim
/   ^^^^^^^^^^^ text.html.embedded.slim
/              ^^^^^^^^^^^^^^^^^^^^^^^^^  source.ruby.embedded.slim

div Extra text
  #{variable if amount > 0}
/ ^^^^^^^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim


/[ Class and ID Tests ]////////////////////////////////////////////////////////

section.class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^ entity.other.attribute-name.class.html

section.two.classes
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^ entity.other.attribute-name.class.html
/          ^ punctuation.definition.attribute.class.slim
/           ^^^^^^^ entity.other.attribute-name.class.html

section#id
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.id.slim
/       ^^ entity.other.attribute-name.id.html

section#id.class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.id.slim
/       ^^ entity.other.attribute-name.id.html
/         ^ punctuation.definition.attribute.class.slim
/          ^^^^^ entity.other.attribute-name.class.html

section.class#id
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^ entity.other.attribute-name.class.html
/            ^ punctuation.definition.attribute.id.slim
/             ^^ entity.other.attribute-name.id.html

section.class#id.class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^ entity.other.attribute-name.class.html
/            ^ punctuation.definition.attribute.id.slim
/             ^^ entity.other.attribute-name.id.html
/               ^ punctuation.definition.attribute.class.slim
/                ^^^^^ entity.other.attribute-name.class.html

section.dash-class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^^^^^^ entity.other.attribute-name.class.html

section.dashdash--class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html

section.underscore_class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html

section.underscoreunderscore__class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^^^^^^^^^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html
section.-leading-dash
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.attribute.class.slim
/       ^^^^^^^^^^^^^ entity.other.attribute-name.class.html

section-with-dashes.class
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^^^^^^^^^^^^^ entity.name.tag.slim
/                  ^ punctuation.definition.attribute.class.slim
/                   ^^^^^ entity.other.attribute-name.class.html

/! Valid TailwindCSS classes
button.w-2/3.bg-cyan-700.hover:bg-cyan-700.text-white
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^ entity.name.tag.slim
/     ^ punctuation.definition.attribute.class.slim
/      ^^^^^ entity.other.attribute-name.class.html
/           ^ punctuation.definition.attribute.class.slim
/            ^^^^^^^^^^^ entity.other.attribute-name.class.html
/                       ^ punctuation.definition.attribute.class.slim
/                        ^^^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html
/                                         ^ punctuation.definition.attribute.class.slim
/                                          ^^^^^^^^^^ entity.other.attribute-name.class.html

/! Valid TailwindCSS IDs
button#q-2/3
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^ meta.tag.slim
/^^^^^ entity.name.tag.slim
/     ^ punctuation.definition.attribute.id.slim
/      ^^^^^ entity.other.attribute-name.id.html

button#q:other
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^ meta.tag.slim
/^^^^^ entity.name.tag.slim
/     ^ punctuation.definition.attribute.id.slim
/      ^^^^^^^ entity.other.attribute-name.id.html

/! Invalid TailwindCSS class
butoon.w-2/a
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^ meta.tag.slim
/^^^^^ entity.name.tag.slim
/     ^ punctuation.definition.attribute.class.slim
/      ^^^ entity.other.attribute-name.class.html
/         ^ punctuation.terminator.tag.slim
/          ^ text.html.embedded.slim

/! Tailwind classes with brackets are not supported by slim 4.1.0 with default options
bottom.top-[117px].bg-cyan-700
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^ meta.tag.slim
/^^^^^ entity.name.tag.slim
/     ^ punctuation.definition.attribute.class.slim
/      ^^^^ entity.other.attribute-name.class.html
/          ^^^^^^^^^^^^^^^^^^^ source.slim

.class
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^ meta.tag.slim entity.other.attribute-name.class.html

.two.classes
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^ meta.tag.slim
/^^^ entity.other.attribute-name.class.html
/   ^ punctuation.definition.attribute.class.slim
/    ^^^^^^^ entity.other.attribute-name.class.html

#id
/ <- meta.tag.slim punctuation.definition.attribute.id.slim
/^^ meta.tag.slim entity.other.attribute-name.id.html

#id.class
/ <- meta.tag.slim punctuation.definition.attribute.id.slim
/^^^^^^^^ meta.tag.slim
/^^ entity.other.attribute-name.id.html
/  ^ punctuation.definition.attribute.class.slim
/   ^^^^^ entity.other.attribute-name.class.html

.class#id
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^ meta.tag.slim
/^^^^^ entity.other.attribute-name.class.html
/     ^ punctuation.definition.attribute.id.slim
/      ^^ entity.other.attribute-name.id.html

.class#id.class
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^ entity.other.attribute-name.class.html
/     ^ punctuation.definition.attribute.id.slim
/      ^^ entity.other.attribute-name.id.html
/        ^ punctuation.definition.attribute.class.slim
/         ^^^^^ entity.other.attribute-name.class.html

.dash-class
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^ entity.other.attribute-name.class.html

.dashdash--class
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html

.underscore_class
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html

.underscoreunderscore__class
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html

.-leading-dash
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^^^ entity.other.attribute-name.class.html

._leading_underscore
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^^^^^^^^^ entity.other.attribute-name.class.html

.w-2/3.lg:w-3/4
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^ entity.other.attribute-name.class.html
/     ^ meta.tag.slim punctuation.definition.attribute.class.slim
/      ^^^^^^^^ entity.other.attribute-name.class.html

#w-2/3
/ <- meta.tag.slim punctuation.definition.attribute.id.slim
/^^^^^ entity.other.attribute-name.id.html

#w:other
/ <- meta.tag.slim punctuation.definition.attribute.id.slim
/^^^^^^^ entity.other.attribute-name.id.html


/[ Attributes Tests ]//////////////////////////////////////////////////////////

div quoted="attribute"
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim
/   ^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim
/^^ entity.name.tag.slim
/   ^^^^^^ entity.other.attribute-name.slim
/         ^ punctuation.separator.key-value.slim
/          ^^^^^^^^^^^ meta.string.html string.quoted.double.html

div quoted = "attribute" single = 'quoted' = text
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^ - meta.attribute-with-value.slim
/   ^^^^^^^^^^^^^^^^^^^^ meta.attribute-with-value.slim
/                       ^ - meta.attribute-with-value.slim
/                        ^^^^^^^^^^^^^^^^^ meta.attribute-with-value.slim
/                                         ^ - meta.attribute-with-value.slim
/   ^^^^^^ entity.other.attribute-name.slim
/          ^ punctuation.separator.key-value.slim
/            ^^^^^^^^^^^ meta.string.html string.quoted.double.html
/                        ^^^^^^ entity.other.attribute-name.slim
/                               ^ punctuation.separator.key-value.slim
/                                 ^^^^^^^^ meta.string.html string.quoted.single.html

div dash-attribute='attribute'
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.attribute-with-value.slim
/   ^^^^^^^^^^^^^^ entity.other.attribute-name.slim
/                 ^ punctuation.separator.key-value.slim
/                  ^^^^^^^^^^^ meta.string.html string.quoted.single.html

div.class with-attribute="attribute"
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^ meta.tag.slim - meta.attribute-with-value.slim
/         ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim
/^^ entity.name.tag.slim
/  ^ punctuation.definition.attribute.class.slim
/   ^^^^^ entity.other.attribute-name.class.html
/         ^^^^^^^^^^^^^^ entity.other.attribute-name.slim
/                       ^ punctuation.separator.key-value.slim
/                        ^^^^^^^^^^^ meta.string.html string.quoted.double.html

div.class with-attribute="attribute\
  multiple lines"
/ <- meta.tag.slim meta.attribute-with-value.slim meta.string.html string.quoted.double.html
/^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.string.html string.quoted.double.html

div.class with-attribute='attribute\
  multiple lines'
/ <- meta.tag.slim meta.attribute-with-value.slim meta.string.html string.quoted.single.html
/^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.string.html string.quoted.single.html

a href="http://slim-#{url}.com" title='Slim #{title}' Goto the Slim homepage
/ <- meta.tag.slim entity.name.tag.slim
/^ meta.tag.slim - meta.attribute-with-value.slim
/ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim
/                              ^ meta.tag.slim - meta.attribute-with-value.slim
/                               ^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim
/                                                    ^ meta.tag.slim - meta.attribute-with-value.slim
/                                                     ^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

/! url attribute value is continued on next line
a href="http://slim
    -#{url}.com" Goto the Slim homepage
/ <- meta.tag.slim meta.attribute-with-value.slim meta.string.html string.quoted.double.html
/^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.string.html
/               ^ meta.tag.slim - meta.attribute-with-value.slim

/! url attribute value with line continuation being evaluated
a href="http://slim\
    -#{url}.com" Goto the Slim homepage
/ <- meta.tag.slim meta.attribute-with-value.slim meta.string.html string.quoted.double.html
/^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.string.html
/               ^ meta.tag.slim - meta.attribute-with-value.slim
/                ^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

div style = "color:#{$color}" onclick = "runClick(#{funcName})" text
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^ entity.name.tag.slim
/   ^^^^^^^^ meta.attribute-with-value.slim
/           ^ meta.attribute-with-value.slim meta.string.html
/            ^^^^^^^^^^^^^^^ meta.attribute-with-value.slim meta.string.html string.quoted.double.html
/                             ^^^^^^^^^^ meta.attribute-with-value.slim
/                                       ^^^^^^^^^^^^^^^^^^^^^^ meta.attribute-with-value.slim meta.string.html
/                                                                ^^^^ text.html.embedded.slim

div style = "color:\
  #{$color}" text
/^^^^^^^^^^^ meta.tag.slim
/^^^^^^^^^^ meta.attribute-with-value.slim meta.string.html
/          ^ meta.attribute-with-value.slim meta.string.html
/           ^ - meta.attribute-with-value.slim
/            ^^^^^ text.html.embedded.slim

div onclick = "\
runClick(#{funcName})" text
/^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^^^^^^^^^^^^^^^^ meta.attribute-with-value.slim meta.string.html
/                    ^ meta.attribute-with-value.slim meta.string.html
/                     ^ - meta.attribute-with-value.slim
/                      ^^^^^ text.html.embedded.slim


/[ Ruby Attributes Tests ]//////////////////////////////////////////////////////////

div const1=false const2=true const3=nil
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/  ^ - meta.attribute-with-value.slim
/   ^^^^^^^^^^^^ meta.attribute-with-value.slim
/                ^^^^^^^^^^^ meta.attribute-with-value.slim
/                           ^ - meta.attribute-with-value.slim
/                            ^^^^^^^^^^ meta.attribute-with-value.slim
/^^ entity.name.tag.slim
/   ^^^^^^ entity.other.attribute-name.slim
/         ^ punctuation.separator.key-value.slim
/          ^^^^^ constant.language.slim
/                ^^^^^^ entity.other.attribute-name.slim
/                      ^ punctuation.separator.key-value.slim
/                       ^^^^ constant.language.slim
/                            ^^^^^^ entity.other.attribute-name.slim
/                                  ^ punctuation.separator.key-value.slim
/                                   ^^^ constant.language.slim

div const1 = false const2 = true const3 = nil
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/  ^ - meta.attribute-with-value.slim
/   ^^^^^^^^^^^^^^ meta.attribute-with-value.slim
/                  ^^^^^^^^^^^^^ meta.attribute-with-value.slim
/                               ^ - meta.attribute-with-value.slim
/                                ^^^^^^^^^^^^ meta.attribute-with-value.slim
/^^ entity.name.tag.slim
/   ^^^^^^ entity.other.attribute-name.slim
/          ^ punctuation.separator.key-value.slim
/            ^^^^^ constant.language.slim
/                  ^^^^^^ entity.other.attribute-name.slim
/                         ^ punctuation.separator.key-value.slim
/                           ^^^^ constant.language.slim
/                                ^^^^^^ entity.other.attribute-name.slim
/                                       ^ punctuation.separator.key-value.slim
/                                         ^^^ constant.language.slim

/ unescaped ruby attribute values
a href==action_path(:start)
/ ^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/ ^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/       ^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/ ^^^^ entity.other.attribute-name.slim
/     ^^ punctuation.separator.key-value.slim

div array=:menu,:highlight
/ <- meta.tag.slim entity.name.tag.slim
/^^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/         ^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/                         ^ - meta.tag.slim
/                         ^ - meta.attribute-with-value.slim
/   ^^^^^ entity.other.attribute-name.slim
/        ^ punctuation.separator.key-value.slim
/         ^^^^^ constant.other.symbol.ruby
/              ^ punctuation.separator.object.ruby
/               ^^^^^^^^^^ constant.other.symbol.ruby

div group=( [ 'menu', "highlight" ] )
/ <- meta.tag.slim - meta.attribute-with-value.slim
/^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/         ^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/   ^^^^^ entity.other.attribute-name.slim
/        ^ punctuation.separator.key-value.slim
/         ^ punctuation.definition.group.begin.slim
/             ^^^^^^ meta.string.ruby string.quoted.single.ruby
/                     ^^^^^^^^^^^ meta.string.ruby string.quoted.double.ruby
/                                   ^ punctuation.definition.group.end.slim

div array=[ 'menu', "highlight" ]
/^^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/         ^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/   ^^^^^ entity.other.attribute-name.slim
/        ^ punctuation.separator.key-value.slim
/         ^ punctuation.section.array.begin.ruby
/           ^^^^^^ meta.string.ruby string.quoted.single.ruby
/                 ^ punctuation.separator.object.ruby
/                   ^^^^^^^^^^^ meta.string.ruby string.quoted.double.ruby
/                               ^ punctuation.section.array.end.ruby

div hashes={ 0, 'str', "str" }
/^^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/          ^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/   ^^^^^^ entity.other.attribute-name.slim
/         ^ punctuation.separator.key-value.slim
/          ^ punctuation.section.scope.begin.ruby
/            ^ constant.numeric.integer.ruby
/             ^ punctuation.separator.object.ruby
/               ^^^^^ meta.string.ruby string.quoted.single.ruby
/                    ^ punctuation.separator.object.ruby
/                      ^^^^^ meta.string.ruby string.quoted.double.ruby
/                            ^ punctuation.section.scope.end.ruby

div array==:menu,:highlight
/ <- meta.tag.slim entity.name.tag.slim
/^^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/          ^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/                          ^ - meta.tag.slim
/                          ^ - meta.attribute-with-value.slim
/   ^^^^^ entity.other.attribute-name.slim
/        ^^ punctuation.separator.key-value.slim
/          ^^^^^ constant.other.symbol.ruby
/               ^ punctuation.separator.object.ruby
/                ^^^^^^^^^^ constant.other.symbol.ruby

div group==( [ 'menu', "highlight" ] )
/^^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/          ^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/   ^^^^^ entity.other.attribute-name.slim
/        ^^ punctuation.separator.key-value.slim
/          ^ punctuation.definition.group.begin.slim
/              ^^^^^^ meta.string.ruby string.quoted.single.ruby
/                      ^^^^^^^^^^^ meta.string.ruby string.quoted.double.ruby
/                                    ^ punctuation.definition.group.end.slim

div array==[ 'menu', "highlight" ]
/^^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/          ^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/   ^^^^^ entity.other.attribute-name.slim
/        ^^ punctuation.separator.key-value.slim
/          ^ punctuation.section.array.begin.ruby
/            ^^^^^^ meta.string.ruby string.quoted.single.ruby
/                  ^ punctuation.separator.object.ruby
/                    ^^^^^^^^^^^ meta.string.ruby string.quoted.double.ruby
/                                ^ punctuation.section.array.end.ruby

div hashes=={ 0, 'str', "str" }
/^^^ meta.tag.slim - meta.attribute-with-value.slim
/   ^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - meta.embedded.slim
/   ^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim - source.ruby
/           ^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim meta.embedded.slim source.ruby.embedded.slim
/   ^^^^^^ entity.other.attribute-name.slim
/         ^^ punctuation.separator.key-value.slim
/           ^ punctuation.section.scope.begin.ruby
/             ^ constant.numeric.integer.ruby
/              ^ punctuation.separator.object.ruby
/                ^^^^^ meta.string.ruby string.quoted.single.ruby
/                     ^ punctuation.separator.object.ruby
/                       ^^^^^ meta.string.ruby string.quoted.double.ruby
/                             ^ punctuation.section.scope.end.ruby

div (
/ <- meta.tag.slim entity.name.tag.slim
/^^^ meta.tag.slim - meta.parens.slim
/   ^^ meta.tag.slim meta.parens.slim
/   ^ punctuation.section.parens.begin.slim

    href="http://slim-#{url}.com"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.parens.slim meta.attribute-with-value.slim
/   ^^^^ entity.other.attribute-name.slim
/       ^ punctuation.separator.key-value.slim
/        ^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.html
/        ^ punctuation.definition.string.begin.html
/        ^^^^^^^^^^^^^ string.quoted.double.html
/                     ^^^^^^ meta.interpolation.slim
/                           ^^^^^ string.quoted.double.html
/                               ^ punctuation.definition.string.end.html

    style = "color:#{$color}"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.parens.slim meta.attribute-with-value.slim
/   ^^^^^ entity.other.attribute-name.slim
/         ^ punctuation.separator.key-value.slim
/           ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html
/            ^^^^^^^^^^^^^^^ meta.string.html
/                  ^^ punctuation.section.interpolation.begin.slim
/                    ^^^^^^ meta.interpolation.slim meta.string.ruby
/                          ^ punctuation.section.interpolation.end.slim
/                           ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html

    onclick = "runClick(#{funcName})"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.parens.slim meta.attribute-with-value.slim
/   ^^^^^^^ entity.other.attribute-name.slim
/           ^ punctuation.separator.key-value.slim
/             ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html
/                         ^^^^^^^^ meta.string.html meta.interpolation.slim source.ruby.embedded.slim
/                                   ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html

) = page_tagline
/ <- meta.tag.slim meta.parens.slim punctuation.section.parens.end.slim
/   ^^^^^^^^^^^^ meta.embedded.slim
/ ^ punctuation.section.embedded.slim

div [
/ <- meta.tag.slim entity.name.tag.slim
/^^^ meta.tag.slim - meta.brackets
/   ^^ meta.tag.slim meta.brackets.slim
/   ^ punctuation.section.brackets.begin.slim

    href="http://slim-#{url}.com"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.brackets.slim meta.attribute-with-value.slim
/   ^^^^ entity.other.attribute-name.slim
/       ^ punctuation.separator.key-value.slim
/        ^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.html
/        ^ punctuation.definition.string.begin.html
/        ^^^^^^^^^^^^^ string.quoted.double.html
/                     ^^^^^^ meta.interpolation.slim
/                           ^^^^^ string.quoted.double.html
/                               ^ punctuation.definition.string.end.html

    style = "color:#{$color}"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.brackets.slim meta.attribute-with-value.slim
/   ^^^^^ entity.other.attribute-name.slim
/         ^ punctuation.separator.key-value.slim
/           ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html
/            ^^^^^^^^^^^^^^^ meta.string.html
/                           ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html

    onclick = "runClick(#{funcName})"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.brackets.slim meta.attribute-with-value.slim
/   ^^^^^^^ entity.other.attribute-name.slim
/           ^ punctuation.separator.key-value.slim
/             ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html
/              ^^^^^^^^^^^^^^^^^^^^^ meta.string.html
/                       ^^ meta.string.html meta.interpolation.slim punctuation.section.interpolation.begin.slim
/                         ^^^^^^^^ meta.string.html meta.interpolation.slim source.ruby.embedded.slim
/                                 ^ meta.string.html meta.interpolation.slim punctuation.section.interpolation.end.slim
/                                   ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html

] = page_tagline
/ <- meta.tag.slim meta.brackets.slim punctuation.section.brackets.end.slim
/^ - meta.embedded.slim
/   ^^^^^^^^^^^^ meta.embedded.slim
/ ^ punctuation.section.embedded.slim

div {
/ <- meta.tag.slim entity.name.tag.slim
/^^^ meta.tag.slim - meta.braces
/   ^^ meta.tag.slim meta.braces.slim
/   ^ punctuation.section.braces.begin.slim

    href="http://slim-#{url}.com"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.braces.slim meta.attribute-with-value.slim
/   ^^^^ entity.other.attribute-name.slim
/       ^ punctuation.separator.key-value.slim
/        ^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.html
/        ^ punctuation.definition.string.begin.html
/        ^^^^^^^^^^^^^ string.quoted.double.html
/                     ^^^^^^ meta.interpolation.slim
/                           ^^^^^ string.quoted.double.html
/                               ^ punctuation.definition.string.end.html

    style = "color:#{$color}"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.braces.slim meta.attribute-with-value.slim
/   ^^^^^ entity.other.attribute-name.slim
/         ^ punctuation.separator.key-value.slim
/           ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html
/            ^^^^^^^^^^^^^^^ meta.string.html
/                  ^^ meta.string.html meta.interpolation.slim punctuation.section.interpolation.begin.slim
/                    ^^^^^^ meta.string.html meta.interpolation.slim source.ruby.embedded.slim
/                          ^ meta.string.html meta.interpolation.slim punctuation.section.interpolation.end.slim
/                           ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html

    onclick = "runClick(#{funcName})"
/   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.braces.slim meta.attribute-with-value.slim
/   ^^^^^^^ entity.other.attribute-name.slim
/           ^ punctuation.separator.key-value.slim
/             ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html
/              ^^^^^^^^^^^^^^^^^^^^^ meta.string.html
/                       ^^ meta.string.html meta.interpolation.slim punctuation.section.interpolation.begin.slim
/                         ^^^^^^^^ meta.string.html meta.interpolation.slim source.ruby.embedded.slim
/                                 ^ meta.string.html meta.interpolation.slim punctuation.section.interpolation.end.slim
/                                   ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html

} = page_tagline
/ <- meta.tag.slim meta.braces.slim punctuation.section.braces.end.slim
/   ^^^^^^^^^^^^ meta.embedded.slim
/ ^ punctuation.section.embedded.slim

div[foo=]
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim entity.name.tag.slim
/  ^^^^^^ meta.tag.slim meta.brackets.slim
/        ^ - meta.tag.slim

div[foo=]
  div.example
/ ^^^^^^^^^^^ meta.tag.slim

div[foo=()]
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim entity.name.tag.slim
/  ^^^^^^^^ meta.tag.slim meta.brackets.slim

div[foo=()]
  div.example
/ ^^^^^^^^^^^ meta.tag.slim

div[foo=("bar" if baz?)]
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim entity.name.tag.slim
/  ^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.brackets.slim

div[foo=("bar" if baz?)]
  div.example
/ ^^^^^^^^^^^ meta.tag.slim

div.cls[foo=("bar" if baz?)]
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^ meta.tag.slim - meta.brackets
/      ^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.brackets.slim

div.cls[foo=("bar" if baz?)]
  div.example
/ ^^^^^^^^^^^ meta.tag.slim

div.cls[
    foo=(
      "bar" if baz?
    )
  ]
  div.example
/ ^^^^^^^^^^^ meta.tag.slim

.splat *method_which_returns_hash = place.name
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^ meta.tag.slim - meta.embedded.slim
/      ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.embedded.slim source.ruby.embedded.slim
/                                 ^^^^^^^^^^^^ meta.embedded.slim
/^^^^^ entity.other.attribute-name.class.html
/      ^ punctuation.section.embedded.begin.ruby
/                                 ^ punctuation.section.embedded.slim
/                                  ^^^^^^^^^^^ source.ruby.embedded.slim
  / NOTE: This is not getting matched as it's not inside ruby grammar, though it's shown in VSCode itself:
  /     ^^^^^^^^^^^^^^^^^^^^^^^^^ variable.other.ruby

.splat *@hash_instance_variable = place.name
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^ meta.tag.slim - meta.embedded.slim
/      ^^^^^^^^^^^^^^^^^^^^^^^^  meta.tag.slim meta.embedded.slim source.ruby.embedded.slim
/                              ^ - meta.embedded.slim
/                               ^^^^^^^^^^^^ meta.embedded.slim
/                                           ^ - meta.embedded.slim
/^^^^^ entity.other.attribute-name.class.html
/      ^ punctuation.section.embedded.begin.ruby
/       ^^^^^^^^^^^^^^^^^^^^^^^ variable.other.readwrite.instance.ruby
/       ^ punctuation.definition.variable.ruby
/                               ^ punctuation.section.embedded.slim
/                                ^^^^^^^^^^^ source.ruby.embedded.slim

.splat attrib="value" *method_which_returns_hash
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^^^ entity.other.attribute-name.class.html
/      ^^^^^^^^^^^^^^ meta.attribute-with-value.slim
/                     ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim
/                     ^ punctuation.section.embedded.begin.ruby

#splat*{ 'attribute' => 'value' }
/ <- meta.tag.slim punctuation.definition.attribute.id.slim
/^^^^^ meta.tag.slim entity.other.attribute-name.id.html
/      ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.embedded.slim
/     ^ punctuation.section.embedded.begin.ruby
/       ^^^^^^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim

.card*{'data-url'=>place_path(place), 'data-id'=>place.id} = place.name
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^ meta.tag.slim entity.other.attribute-name.class.html
/    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.embedded.slim
/                                                         ^ - meta.embedded.slim
/                                                          ^^^^^^^^^^^^ meta.embedded.slim
/                                                                      ^ - meta.embedded.slim
/    ^^ punctuation.section.embedded.begin.ruby
/      ^^^^^^^^^^ string.quoted.single.ruby
/                ^^ punctuation.separator.key-value
/                                   ^ punctuation.separator.object.ruby
/                                     ^^^^^^^^^ string.quoted.single.ruby
/                                              ^^ punctuation.separator.key-value
/                                                        ^ punctuation.section.embedded.end.ruby
/                                                          ^ punctuation.section.embedded.slim
/                                                            ^^^^^^^^^^ source.ruby.embedded.slim

#splat *{attribute: 'value'} Regular text
/ <- meta.tag.slim punctuation.definition.attribute.id.slim
/^^^^^^ meta.tag.slim - meta.embedded.slim
/      ^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.embedded.slim

.first *{class: [:second, :third]} Text
/ <- meta.tag.slim punctuation.definition.attribute.class.slim
/^^^^^^ meta.tag.slim - meta.embedded.slim
/      ^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.embedded.slim

/ Dynamic Tags
  You can create completely dynamic tags using the splat attributes.
  Just create a method which returns a hash with the :tag key.
ruby:
  def a_unless_current
    @page_current ? {tag: 'span'} : {tag: 'a', href: 'http://slim-lang.com/'}
  end

- @page_current = true
*a_unless_current Link
/ <- meta.embedded.slim source.ruby.embedded.slim punctuation.section.embedded.begin.ruby
/^^^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim
/                ^^^^^^ - meta.embedded.slim
- @page_current = false
*a_unless_current Link
/ <- meta.embedded.slim source.ruby.embedded.slim punctuation.section.embedded.begin.ruby
/^^^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim


/[ Whitespace Tests ]//////////////////////////////////////////////////////////

span< Before
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^ meta.tag.slim
/^^^ entity.name.tag.slim
/   ^ keyword.operator.whitespace.slim

span> attribute="value" After
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/^^^ entity.name.tag.slim
/   ^ keyword.operator.whitespace.slim
/     ^^^^^^^^^^^^^^^^^ meta.attribute-with-value.slim
/     ^^^^^^^^^ entity.other.attribute-name.slim
/              ^ punctuation.separator.key-value.slim
/               ^^^^^^^ meta.string.html string.quoted.double.html

span.class<> Both
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^ meta.tag.slim
/^^^ entity.name.tag.slim
/   ^ punctuation.definition.attribute.class.slim
/    ^^^^^ entity.other.attribute-name.class.html
/         ^^ keyword.operator.whitespace.slim

span.class>< Both
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^ meta.tag.slim
/^^^ entity.name.tag.slim
/   ^ punctuation.definition.attribute.class.slim
/    ^^^^^ entity.other.attribute-name.class.html
/         ^^ keyword.operator.whitespace.slim


/[ Quotation Tests ]///////////////////////////////////////////////////////////

span This is a ' line with a single quote
/^^^^ meta.tag.slim
/    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

span.klass This is a ' line with a single 'quote'
/^^^^^^^^^^ meta.tag.slim
/          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

span.klass attribute="value" This is a ' line with a single unescaped quote
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

span.klass Additional code shouldn't be highlighted
/^^^^^^^^^^ meta.tag.slim
/          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

span This is a " line with a double quote
/^^^^ meta.tag.slim
/    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

span.klass This is a " line with a double "quote"
/^^^^^^^^^^ meta.tag.slim
/          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

span.klass attribute="value" This is a " line with a double unescaped quote
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim

span.klass Additional code shouldn"t be highlighted
/^^^^^^^^^^ meta.tag.slim
/          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html.embedded.slim


/[ Inline Tag Tests ]//////////////////////////////////////////////////////////

ul: li.w-3/4.lg:w-5/8
/ <- todo

ul: li: a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^ meta.tag.slim
/      ^ - meta.tag.slim
/       ^ meta.tag.slim - meta.brackets
/        ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                   ^^^^^^^^ text.html.embedded.slim - meta.tag.slim
/^ entity.name.tag.slim
/ ^ punctuation.definition.tag.end.slim
/   ^^ entity.name.tag.slim
/     ^ punctuation.definition.tag.end.slim
/       ^ entity.name.tag.slim

ul: li.klass: a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^^^^^^^ meta.tag.slim
/            ^ - meta.tag.slim
/             ^ meta.tag.slim - meta.brackets
/              ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                         ^^^^^^^^ text.html.embedded.slim - meta.tag.slim

ul: li#id: a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^^^^ meta.tag.slim
/         ^ - meta.tag.slim
/          ^ meta.tag.slim - meta.brackets
/           ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                      ^^^^^^^^ text.html.embedded.slim - meta.tag.slim

ul: li class="klass": a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^^^^^^^^^^^^^^^ meta.tag.slim
/                    ^ - meta.tag.slim
/                     ^ meta.tag.slim - meta.brackets
/                      ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                                 ^^^^^^^^ text.html.embedded.slim - meta.tag.slim

ul: li class = "klass" : a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^^^^^^^^^^^^^^^^^^ meta.tag.slim
/                       ^ - meta.tag.slim
/                        ^ meta.tag.slim - meta.brackets
/                         ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                                    ^^^^^^^^ text.html.embedded.slim - meta.tag.slim

ul: li ( class = "klass" ): a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^ meta.tag.slim - meta.parens
/      ^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.parens.slim
/                         ^ meta.tag.slim - meta.parens
/                          ^ - meta.tag.slim
/                           ^ meta.tag.slim - meta.brackets
/                            ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                                       ^^^^^^^^ text.html.embedded.slim - meta.tag.slim

ul: li [ class = "klass" ]: a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^ meta.tag.slim - meta.brackets
/      ^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                         ^ meta.tag.slim - meta.brackets
/                          ^ - meta.tag.slim
/                           ^ meta.tag.slim - meta.brackets
/                            ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                                       ^^^^^^^^ text.html.embedded.slim - meta.tag.slim

ul: li { class = "klass" }: a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^^ meta.tag.slim - meta.braces
/      ^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.braces.slim
/                         ^ meta.tag.slim - meta.braces
/                          ^ - meta.tag.slim
/                           ^ meta.tag.slim - meta.brackets
/                            ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                                       ^^^^^^^^ text.html.embedded.slim - meta.tag.slim

ul: li*{ 'class' => "klass" }: a[href="/b"] B link
/ <- meta.tag.slim entity.name.tag.slim - text.html.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ - text.html.embedded.slim
/^^ meta.tag.slim - meta.brackets
/  ^ - meta.tag.slim
/   ^^ meta.tag.slim - meta.embedded.slim
/     ^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.slim meta.embedded.slim
/                            ^ meta.tag.slim - meta.embedded.slim
/                             ^ - meta.tag.slim
/                              ^ meta.tag.slim - meta.brackets
/                               ^^^^^^^^^^^ meta.tag.slim meta.brackets.slim
/                                          ^^^^^^^^ text.html.embedded.slim - meta.tag.slim


/[ XML Tests ]/////////////////////////////////////////////////////////////////

loc:url .this is="attr" this is text Title
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^^^^^^^ meta.tag.slim - meta.attribute-with-value.slim
/             ^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim
/^^^^^^ entity.name.tag.slim
/       ^ punctuation.definition.attribute.class.slim
/        ^^^^ meta.tag.slim entity.other.attribute-name.class.html

loc:url: .this is="attr" this is text Title
/ <- meta.tag.slim entity.name.tag.slim
/^^^^^^^ meta.tag.slim - meta.attribute-with-value.slim
/       ^ - meta.tag.slim
/        ^^^^^^ meta.tag.slim - meta.attribute-with-value.slim
/              ^^^^^^^^^ meta.tag.slim meta.attribute-with-value.slim
/^^^^^^ entity.name.tag.slim
/      ^ punctuation.definition.tag.end.slim
/        ^ punctuation.definition.attribute.class.slim
/         ^^^^ entity.other.attribute-name.class.html


/[ Ruby Line Tests ]///////////////////////////////////////////////////////////

-
/ <- meta.embedded.slim punctuation.section.embedded.slim

~
/ <- meta.embedded.slim punctuation.section.embedded.slim

- array.each do |item|
/ <- meta.embedded.slim punctuation.section.embedded.slim - source
/^^^^^^^^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim

- array.each do |item|
  - if true
/^ - meta.embedded.slim
/ ^^^^^^^^^ meta.embedded.slim
/ ^ punctuation.section.embedded.slim - source
/  ^^^^^^^^ source.ruby.embedded.slim - punctuation

- array.each do |item|
  - if true
  - else
/^ - meta.embedded.slim
/ ^^^^^^ meta.embedded.slim
/ ^ punctuation.section.embedded.slim - source
/  ^^^^^ source.ruby.embedded.slim - punctuation

- content_for :hello_slim do |this|
  p.class
/^ - meta.tag.slim
/ ^^^^^^^ meta.tag.slim

- content_for :hello_slim do |this|
  p.class
  p = @hello
/^ - meta.tag.slim
/ ^ meta.tag.slim
/  ^ - meta.tag.slim
/  ^ - meta.embedded.slim
/   ^^^^^^^^ meta.embedded.slim
/   ^ punctuation.section.embedded.slim
/    ^^^^^^^ source.ruby.embedded.slim

=
/ <- meta.embedded.slim punctuation.section.embedded.slim

=<
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^ meta.embedded.slim keyword.operator.whitespace.slim

=>
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^ meta.embedded.slim keyword.operator.whitespace.slim

=><
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^^ meta.embedded.slim keyword.operator.whitespace.slim

=<>
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^^ meta.embedded.slim keyword.operator.whitespace.slim

==
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim

==<
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim
/ ^ meta.embedded.slim keyword.operator.whitespace.slim

==>
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim
/ ^ meta.embedded.slim keyword.operator.whitespace.slim

==><
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim
/ ^^ meta.embedded.slim keyword.operator.whitespace.slim

==<>
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim
/ ^^ meta.embedded.slim keyword.operator.whitespace.slim

== render 'this', locals: { attribute: 'value' }
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim
/ ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim

h1 = yield :yield_sym
/ <- meta.tag.slim entity.name.tag.slim
/^ meta.tag.slim entity.name.tag.slim
/ ^ - meta.tag.slim
/ ^ - meta.embedded.slim
/  ^^^^^^^^^^^^^^^^^^ meta.embedded.slim
/  ^ punctuation.section.embedded.slim - source
/   ^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim

= app_helper('string', sym: 'value', class: 'value')
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim

== render 'multiline',
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim
/ ^^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim
/  ^^^^^^ support.function
/         ^^^^^^^^^^^ meta.string.ruby string.quoted.single.ruby
/                    ^ punctuation.separator.sequence.slim

== render 'multiline',
  with: 'locals',
/ <- meta.embedded.slim source.ruby.embedded.slim
/^^^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim
/               ^ punctuation.separator.sequence.slim

== render 'multiline',
  with: 'locals',
  and: :symbols
/ <- meta.embedded.slim source.ruby.embedded.slim
/^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim

== render 'multiline'\
/ <- meta.embedded.slim punctuation.section.embedded.slim
/^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.slim
/^ meta.embedded.slim punctuation.section.embedded.slim
/ ^^^^^^^^^^^^^^^^^^^^^ source.ruby.embedded.slim
/  ^^^^^^ support.function
/         ^^^^^^^^^^^ meta.string.ruby string.quoted.single.ruby
/                    ^ punctuation.separator.continuation.slim

== render 'multiline'\
  with: 'locals',
/ <- meta.embedded.slim source.ruby.embedded.slim
/^^^^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim
/               ^ punctuation.separator.sequence.slim

== render 'multiline'\
  with: 'locals',
  and: :symbols
/ <- meta.embedded.slim source.ruby.embedded.slim
/^^^^^^^^^^^^^^ meta.embedded.slim source.ruby.embedded.slim

div= ruby_var_with_no_space_from_tag
/ <- meta.tag.slim entity.name.tag.slim
/^^ meta.tag.slim entity.name.tag.slim
/  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.slim - meta.tag.slim
/                                   ^ - meta.embedded.slim
/  ^ punctuation.section.embedded.slim


/[ Embedded Engines ]//////////////////////////////////////////////////////////

coffee:
  anon: ->
    console.log 'hello world'
/ <- meta.filter.slim source.coffee.embedded.slim - meta.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.filter.slim source.coffee.embedded.slim - meta.tag.slim

css:
  .hello:before {
    content: 'hello #{@world}';
    /        ^^^^^^^ meta.string.css string.quoted.single.css
    /               ^^^^^^^^^ meta.string.css meta.interpolation.slim - string
    /                        ^ meta.string.css string.quoted.single.css
  }
/ <- meta.filter.slim source.css.embedded.slim - meta.tag.slim
/^^^ meta.filter.slim source.css.embedded.slim - meta.tag.slim

erb:
  <%= hello_world if hello_world.present? %>
/ <- meta.filter.slim text.html.erb.embedded.slim - meta.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.filter.slim text.html.erb.embedded.slim

javascript:
  (function() {
    console.log('hello #{@world}');
  /             ^^^^^^^ meta.string.js string.quoted.single.js
  /                    ^^^^^^^^^ meta.string.js meta.interpolation.slim - string
  /                             ^ meta.string.js string.quoted.single.js
  });
/ <- meta.filter.slim source.js.embedded.slim - meta.tag.slim
/^^^^^ meta.filter.slim source.js.embedded.slim - meta.tag.slim

less:
  .hello:before {
    content: @world
  }
/ <- meta.filter.slim source.less.embedded.slim - meta.tag.slim
/^^^ meta.filter.slim source.less.embedded.slim - meta.tag.slim

markdown:
  # Hello
  **World** #{:var}
  / <- meta.filter.slim text.html.markdown.embedded.slim - meta.tag.slim
  /^^^^^^^^^^^ meta.filter.slim text.html.markdown.embedded.slim
  /^^^^^^^^ markup.bold.markdown
  /         ^^^^^^^ meta.filter.slim text.html.markdown.embedded.slim meta.interpolation.slim
  /         ^^ punctuation.section.interpolation.begin.slim
  /           ^^^^ source.ruby.embedded.slim constant.other.symbol.ruby
  /               ^ punctuation.section.interpolation.end.slim

  <br class="#{:name}">
  / <- meta.filter.slim text.html.markdown.embedded.slim meta.tag.slim
  /^^^^^^^^^^^^^^^^^^^^ meta.filter.slim text.html.markdown.embedded.slim meta.tag.slim
  /   ^^^^^^^^^^^^^^^^ meta.attribute-with-value.class.html
  /          ^^^^^^^^ meta.class-name.html meta.string.html meta.interpolation.slim
  /^^ entity.name.tag
  /   ^^^^^ entity.other.attribute-name.class.html
  /        ^ punctuation.separator.key-value.html
  /         ^ punctuation.definition.string.begin.html
  /          ^^ punctuation.section.interpolation.begin.slim
  /            ^^^^^ source.ruby.embedded.slim constant.other.symbol.ruby
  /                 ^ punctuation.section.interpolation.end.slim
  /                  ^ punctuation.definition.string.end.html
  /                   ^ punctuation.definition.tag.end.html

plain:
  Plain <b>text</b>
/ <- meta.filter.slim text.plain.embedded.slim - meta.tag.slim
/^^^^^^^^^^^^^^^^^^^ meta.filter.slim text.plain.embedded.slim - meta.tag.slim

preserve:
  Plain <b>text</b>
/ <- meta.filter.slim text.plain.embedded.slim - meta.tag.slim
/^^^^^^^^^^^^^^^^^^^ meta.filter.slim text.plain.embedded.slim - meta.tag.slim

ruby:
  blank = []
  @instance.each do |item|
    blank << item.name
  end
  # Comment
  blank = @instance.map(&:name)
/ <- meta.filter.slim source.ruby.embedded.slim - meta.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.filter.slim source.ruby.embedded.slim - meta.tag.slim

sass:
  .hello
    content: $world
/ <- meta.filter.slim source.sass.embedded.slim - meta.tag.slim
/^^^^^^^^^^^^^^^^^^^ meta.filter.slim source.sass.embedded.slim - meta.tag.slim

scss:
  .hello:before {
    color: $world
  }
/ <- meta.filter.slim source.scss.embedded.slim - meta.tag.slim
/^^^ meta.filter.slim source.scss.embedded.slim - meta.tag.slim

/! Filters can expand to style tags with attributes
/! <style class="myClass" type="text/css">body{color:red}</style>
scss class="myClass":
  / <- meta.tag.filter.slim constant.other.language-name.slim
  /^^^^^^^^^^^^^^^^^ meta.tag.filter.slim
  /  ^^^^^ entity.other.attribute-name.slim
  /       ^ punctuation.separator.key-value.slim
  /        ^^^^^^^^^ meta.string.html string.quoted.double.html
  /        ^ punctuation.definition.string.begin.html
  /                ^ punctuation.definition.string.end.html
  /                 ^ punctuation.definition.filter.slim
  $color: #f00;
  body { color: $color; }
/ <- meta.filter.slim source.scss.embedded.slim - meta.tag.slim
/^^^^^^^^^^^^^^^^^^^^^^^^^ meta.filter.slim source.scss.embedded.slim - meta.tag.slim

/[ Filter Termination Tests ]//////////////////////////////////////////////////

html
  head
    coffee:
      anon: ->
        console.log 'hello world'
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim

html
  head
    css:
      .hello:before {
        content: 'hello #{@world}';
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim

html
  head
    erb:
      <%= hello_world if hello_world.present? %>
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim

html
  head
   javascript:
     (function() {
        console.log('hello #{@world}');
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim

html
  head
    less:
      .hello:before {
        content: 'hello #{@world}';
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim

body
  markdown:
    # Hello
    **World** #{:var}
  div
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^ meta.tag.slim entity.name.tag.slim

html
  head
    ruby:
      blank = []
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim

html
  head
    sass:
      .hello
        content: $world
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim

html
  head
    scss:
      .hello:before {
        color: $world
  body
/ <- - meta.filter
/ <- - meta.tag.slim
/^ - meta.filter
/^ - meta.tag.slim
/ ^^^^ meta.tag.slim entity.name.tag.slim
